# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Configuration & Recordings
config.json
*.mp4
*.mkv
*.mov
*.wav
*.avi

# Environments
.venv
env/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
